.page{
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 50px;
  
  border: solid gray;
  border-radius: 15px;
}
.menu{
  display: flex;
  gap: 16px;
  margin-top: 45px;
  
  justify-content: center;
}
.title{
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: blue;
  border-radius: 5px;
}
.card{
  width: 150px;
  text-align: center;
  background-color: aqua;
  padding: 0 80px;
}